.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.hover-up {
  transition: transform 0.5s, background 0.5s;
  background: #303742 !important;
  color: #fff;
}

.hover-up:hover {
  transform: translate(0px, -15px);
  background: #5755d9 !important;

  text-decoration: none;
}
