version: '3.9'
services:
  php-apache-environment:
    container_name: php-apache-myseries
    build:
        context: ./php
        dockerfile: Dockerfile
    depends_on:
      - db
    volumes:
      - ../:/var/www/html/
      - ./php/config.php:/var/www/html/application/config/config.php
    command:  [sh, -c, "composer install && apache2-foreground"]
    environment:
        MYSQL_HOST: db
    env_file:
       - 'db.env'
    ports:
      - 8081:80

  db:
    container_name: db-myseries
    image: mysql
    restart: always
    volumes:
      - ../database:/docker-entrypoint-initdb.d
    env_file:
       - 'db.env'
    ports:
        - ${DB_PORT}:3306
  phpmyadmin:
    container_name: phpmyadmin-myseries
    image: phpmyadmin/phpmyadmin
    ports:
        - 9090:80
    restart: always
    environment:
        PMA_HOST: db
    depends_on:
        - db
